<form class="form-horizontal" id="form">
	<h2>Edit GPIO configuration</h2>
	<table class="table">
		<tr>
			<th scope="col">Pin number</th>
			<th scope="col">Pin name</th>
			<th scope="col">Mode</th>
			<th scope="col">Pull up (down GPIO 16)</th>
		</tr>
		<% function fieldName(i, name) {
			// Single quotes doesn't work well with ArduinoJson
			return "gpio[" + i + "][" + name + "]";
		} %>
		<% for(idx in response_data['gpio']) { %>
		<tr>
			<% var pin = response_data['gpio'][idx] %>
			<th>
				<%= idx %>
			</th>
			<th>
				<input type="text" name="<%= fieldName(idx, 'name') %>" value="<%= pin['name'] %>" />
			</th>
			<% if(GPIOHandler.isPinSafeToUse(idx)) { %>
			<td>
				<select name="<%= fieldName(idx, 'isInput') %>:boolean">
					<option value="true" <%= pin["isInput"] ? "selected" : ""  %>>
						Input
					</option>
					<option value="false" <%= !pin["isInput"] ? "selected" : ""  %>>
						Output
					</option>
				</select>
			</td>
			<td>
				<input type="checkbox" name="<%= fieldName(idx, 'pull') %>:boolean" <%= pin["pull"] ? "checked" : "" %> value="true" />
			</td>
			<% } else { %>
				<td colspan="2">It is not safe to use that pin</td>
			<% } %>
		</tr>
		<% } %>
		</tr>
	</table>
	<div class="col-sm-offset-3">
			<button type="submit" class="btn btn-primary" id="form_submit">Submit</button>
	</div>
	</form>