<div id="user_list_container">
    <table class="table">
        <tr>
            <th>Enabled</th>
            <th>Login</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        <% for(var i in data['users']) { %>
            <% var user = data['users'][i] %>
            <% var rolesStr = user['roles'].join(", ") %>
            <tr>
                <td><%= user['enabled'] %></td>
                <td><%= user['login'] %></td>
                <td><%= rolesStr %></td>
                <td>
                    <a onClick="editUser(<%= user['enabled'] %>, '<%= user['login'] %>', '<%= rolesStr %>')">Edit</a>
                    /
                    <a onClick="removeUser('<%= user['login'] %>')">Remove</a>
                </td>
            </tr>
        <% } %>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" onClick="addUser()">New user</button>
        </div>
    </div>
</div>
<div id="user_form_container">
    <form class="form-horizontal" id="form">
        <h2 id="user_form_title"></h2>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="form_enabled">Enabled</label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="form_enabled"
                        name="enabled"
                        value="true"
                    />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="form_login">Login</label>
            <div class="col-sm-10">
                <input
                    type="text"
                    class="form-text-control"
                    id="form_login"
                    name="login"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="form_roles">Roles</label>
            <div class="col-sm-10">
                <input
                    type="text"
                    class="form-text-control"
                    id="form_roles"
                    name="roles"
                />
                <small class="form-text text-muted">Please provide coma separated list.</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="form_password">Password</label>
            <div class="col-sm-10">
                <input
                    type="password"
                    class="form-text-control"
                    id="form_password"
                    name="password"
                />
                <small class="form-text text-muted">Please provide only if you would like to change user password.</small>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-sm-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-1">
                <button type="reset" class="btn" id="user_form_cancel">Cancel</button>
            </div>
        </div>
    </form>
</div>