<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wifire</title>
<link href="bootstrap.min.css" rel="stylesheet">
<link href="bootstrap-theme.min.css" rel="stylesheet">
<link href="bootstrap-toggle.min.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Wifire</a>
			</div>

			<ul class="nav navbar-nav">
				<li><a href="#switches">Switches</a></li>
				<li><a href="#editStation">Station config</a></li>
				<li><a href="#editAp">Ap config</a></li>
				<li><a href="#editOta">Ota config</a></li>
			</ul>
		</div>
	</nav>
	<div class="container" id="content"></div>
	<script id="info_tpl" type="text/template">
		<table class="">
			<% for(i in rows) { %>
				<tr>
					<th><%= i %></th>
					<td><%= rows[i] %></td>
				</tr>
			<% } %>
		</table>
	</script>
	<script id="switches_tpl" type="text/template">
		<input type="checkbox" data-toggle="toggle" data-on="Switch 1" data-off="Switch 1" />
	</script>
	<script id="dynamic_form_tpl" type="text/template">
		<form class="form-horizontal" id="form">
			<% for(name in inputs) { %>
			<% var input = inputs[name] %>
			<div class="form-group">
				<label class="control-label col-sm-3" for="form_<%= name %>"><%= name %></label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="form_<%= name %>" name="<%= name %>" value="<%= input %>">
				</div>
			</div>
			<% } %>
			<div class="col-sm-offset-3">
  				<button type="button" class="btn btn-default" id="form-submit">Submit</button>
			</div>
		</form>
	</script>

	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="bootstrap-toggle.min.js"></script>
	<script src="underscore.js"></script>
	<script src="app.js"></script>
</body>
</html>