<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wifire</title>
<link href="bootstrap.min.css" rel="stylesheet">
<link href="main.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<!-- Fixed navbar -->
	<nav class="main-navbar navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Wifire</a>

		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#editAp">Ap config</a></li>
			<li class="nav-item"><a class="nav-link" href="#editStation">Station config</a></li>
			<li class="nav-item"><a class="nav-link" href="#editOta">Ota config</a></li>
		</ul>
	</nav>
	<div class="container" id="content"></div>

	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="underscore.js"></script>
	<script src="app.js"></script>
	<script id="info_tpl" type="text/template">
		<table class="table">
			<% for(i in rows) { %>
				<tr>
					<th><%= i %></th>
					<td><%= rows[i] %></td>
				</tr>
			<% } %>
		</table>
	</script>
	<script id="switches_tpl" type="text/template">
		<input type="checkbox" data-toggle="toggle" data-on="Switch 1" data-off="Switch 1" />
	</script>
	<script id="dynamic_form_tpl" type="text/template">
		<form class="form-horizontal" id="form">
			<% for(name in inputs) { %>
			<% var input = inputs[name] %>
			<% var fieldFormat = getFieldFormat(name, inputs[name]) %>
			<% var type = fieldFormat.type %>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="form_<%= name %>"><%= name %></label>
				<div class="col-sm-10">
					<% if(type=="checkbox") { %>
      					<div class="form-check">
							<input
								type="checkbox"
								class="form-check-input"
								id="form_<%= name %>"
								name="<%= name %>"
								value="true"
								<%= (input ? "checked " : "") %>" />
						</div>
					<% } else if(type=="select") { %>
						<select
							type="<%= type %>"
							class="form-control"
							id="form_<%= name %>"
							name="<%= name %>">
						<% for(i in fieldFormat.values) { %>
							<option value="<%= i %>" <%= i==input ? "selected=true" : "" %>>
								<%= fieldFormat.values[i] %>
							</option>
						<% } %>
						</select>
					<% } else { %>
						<input
							type="<%= type %>"
							class="form-control"
							id="form_<%= name %>"
							name="<%= name %>"
							value="<%= input %>" />
					<% } %>

				</div>
			</div>
			<% } %>
			<div class="col-sm-offset-3">
  				<button type="button" class="btn btn-default" id="form-submit">Submit</button>
			</div>
		</form>
	</script>
</body>
</html>